.THIS {
}

.THIS.row {
 	padding-left: 5px;
    padding-top: 5px;
 	padding-bottom: 10px;
}

.THIS .title {
    padding-top: 5px;
 	padding-bottom: 10px;
    font-weight: bold;
 }

.THIS .colbackground {
	background-color:#CAE2F8
}